<html>
    <head>
        {{ content_for_header }}
        {%- assign common_css_url = 'common.css' | asset_url -%}
        {%- render 'stylesheet', name: common_css_url -%}
        {%- render 'favicon' -%}
        <title>FAYZ-M</title>
    </head>
    <body>
        {% comment %} {% render 'loader' %} {% endcomment %}
        <component-loader class="page-wrapper">
            {% section "announcement-bar" %}
            {%- section 'navigation' -%}
            <main id="main" role="main">
                {{content_for_layout}}
            </main>
        </component-loader>
        <script src="{{ 'js-gsap.min.js' | asset_url }}"></script>

        {%- render 'component-loader' -%}
    </body> 
</html>