.about-us{
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 22px;
    box-sizing: content-box;
}

.about-header h2{
    font-size: 52px;
    font-family: "Syne";
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.about__wrapper{
    display: flex;
    gap: 0 32px;

    .content{
        max-width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;

        &:first-child{
            max-width: 65%;
        }

        p{
            font-family: "Inter";
            font-weight: 400;
            font-size: 20px;
            letter-spacing: -6%;
            line-height: 32px;
        }
        
        a{
            font-family: "Space";
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    img{
        height: 440px;
        width: 100%;
        object-position: top;
        object-fit: cover;
    }
}

