.collection-grid{
    margin: 100px 0;
}

.collection-grid__title{
    margin: 40px 0;
    font-family: "Space";
}

.grid__list-item{
    text-decoration: none;
    font-family: "Space";
    font-size: 40px;
    color: var(--dark);
    text-transform: uppercase;
    padding: 20px;
    border: 1px solid var(--secondary-border-color);
}

.grid__list-item:first-child{
    grid-area: main-1;
    img{
        width: 100%;
        object-fit: cover;
    }
}

.grid__list-item:first-child img{
    height: calc(100% - 60px);
}

.grid__list-item img:not(.grid__list-item:first-child img){
    aspect-ratio: 1 / 1;
    height: 500px;
    
}

.grid__list-item:nth-child(2){
    grid-area: secondary-1;
}


.grid__list-item:nth-child(3){
    grid-area: secondary-2;
}

.grid__list-item:last-child{
    grid-area: secondary-3;
}

.grid__list-item{
    background: #fff !important;
}

.collections-list-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "main-1 main-1 main-1  secondary-1 secondary-1"
        "main-1 main-1 main-1  secondary-2 secondary-2"
        "main-1 main-1 main-1  secondary-3 secondary-3"
    ;

    gap: 20px;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}