#shopify-section-navigation{
    position: sticky;
    z-index: 10;
    top: 0;
}


.navigation{
    font-family: "Syne";
    width: 100%;
    padding-top: 2px;
}

.navigation__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation__logo{
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.navigation__logo > img{
    height: 50px;
    object-fit: contain;
}

.navigation__menu{
    display: flex;
    gap: 0 100px;
}

.menu-item{
    padding: 24px 0;
  
}

.menu-item__link{
    text-decoration: none;
    color: var(--light);
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.submenu-wrapper{
    display: none;
}

.menu-item:hover .submenu-wrapper{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--light);
}

.submenu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:100px 50;
}

.submenu-item{
    padding: 20px 0;
    font-size: 20px;
    font-family: "Inter";
}

.submenu-item__link{
    color: var(--dark);
}

.navigation__logo > img:first-of-type{
    transform: scale(1);
    opacity: 1;
    width: 130px;
    transition: height 0.3s;
}

.navigation__logo > img:last-of-type{
    transform: scale(0);
    opacity: 0;
    height: 0;
    width: 0px;
    transition: height 0.2s;
}

.navigation__address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.navigation__address a{
    font-family: "Space";
    font-weight: 700;
    color: var(--light);
}

.business-hours{
    font-family: "Space";
    font-size: 12px;
    color: var(--light);
}

.pinned-navbar{
    transition: 0.2s;
    background-color: var(--light);
}

.pinned-navbar  .navigation__logo > img:last-of-type{
    transform: scale(1);
    opacity: 1;
    height: 50px;
    width: 130px;
}

.pinned-navbar  .navigation__logo > img:first-of-type{
    transform: scale(0);
    opacity: 0;
    width: 0;
    height: 0;
}

.pinned-navbar .navigation__menu a{
    color: var(--dark);
}

.pinned-navbar .navigation__address a{
    color: var(--dark);
}

.pinned-navbar .business-hours{
    color: var(--dark);
}

.pinned-navbar .menu-item__link svg{
    filter: invert(1);
}