{%- render 'stylesheet', name: 'clothes-collection' -%}

<section id='clothes-collection' class="clothes__collection--wrapper">
  <div class="container">
    <div class="collection__content">
      {% if section.settings.clothes_collection_banner_title %}
        <h2>{{ section.settings.clothes_collection_banner_title }}</h2>
      {% endif %}
      {% if section.settings.clothes_collection_btn and section.settings.collection_link  %}
        <a href="{{ section.settings.collection_link }}" class="link-regular"> 
            <span>{{ section.settings.clothes_collection_btn }}</span>
            {% render "icon-arrow-top-right" %}
        </a>
        {% endif %}
    </div>
    <div class="collection__image--box">
      {% if section.settings.clothes_collection_image %}
        {{ section.settings.clothes_collection_image | image_url: width: 4000  | image_tag }}
      {% endif %}
  </div>
  </div>
</section>

{% schema %}
{
  "name": "clothes-collection",
  "settings": [
    {
      "type": "text",
      "id": "clothes_collection_banner_title",
      "label": "Colothes collection banner title",
      "default": "Colothes collection banner title"
    },
    {
      "type": "text",
      "id": "clothes_collection_btn",
      "label": "Clothes collection button text",
      "default": "Know more"
    },
    {
      "type": "url",
      "id" : "collection_link",
      "label": "Clothes collection button link"
    },
    {
      "type": "image_picker",
      "id": "clothes_collection_image",
      "label": "Banner image"
    }
  ],
  "presets": [
    {
        "name": "clothes-collection"
    }
  ]
}
{% endschema %}