{%- render 'stylesheet', name: 'products-swiper' -%}


<section id="products-swiper" class="products-swiper">
  <p>swiper</p>
</section>

{% schema %}
{
    "name": "products-swiper",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "products-swiper"
        }
    ]
}
{% endschema %}


