{%- render 'stylesheet', name: 'whatwe-do' -%}


<section  id="whatwe-do" class="whatwe-do">
    <div class="container">
        <div class="whatwe-do--box">
           {% if section.settings.whatwedo_title %}
                <h2>{{section.settings.whatwedo_title}}</h2>
           {% endif %}
            <div class="whatwe-do--content" >
                {% if section.settings.whatwedo_text %}
                    <p>{{ section.settings.whatwedo_text }}</p>
                {% endif %}
                <button class="btn"> 
                    {% if section.settings.whatwedo_btn %}
                        <span>{{ section.settings.whatwedo_btn }}</span>
                    {% endif %}
                    <i>&UpperRightArrow;</i>
                </button>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "whatwe-do",
    "settings": [
        {
            "type": "checkbox",
            "id": "sow_whatwe_do",
            "label": "Show What we do",
            "default": true
        },
        {
            "type": "text",
            "id" : "whatwedo_title",
            "label": "What we do title",
            "default": "MULTI-SECTOR TEXTILE COMPANY"
        },
        {
            "type": "text",
            "id": "whatwedo_text",
            "label": "What we do text",
            "default": "How we work: Seed production, raw cotton production, cotton processing, oil production, flour production, cotton spinning, fabric production, ready-made knitwear and animal husbandry."
        },
        {
            "type": "text",
            "id": "whatwedo_btn",
            "label": "What we do text",
            "default": "BETTER KNOW US"
        }
    ],
    "presets": [
        {
            "name": "whatwe-do"
        }
    ]
}
{% endschema %}

