{%- render 'stylesheet', name: 'whatwe-do' -%}


<section  id="whatwe-do" class="whatwe-do">
    <div class="container">
        <div class="whatwe-do--box">
            <h2>MULTI-SECTOR TEXTILE COMPANY</h2>
            <div class="whatwe-do--content" >
                <p>How we work: Seed production, raw cotton production, cotton processing, oil production, flour production, cotton spinning, fabric production, ready-made knitwear and animal husbandry.</p>
                <button class="btn"> 
                    <span>BETTER KNOW US</span>
                    <i>&UpperRightArrow;</i>
                </button>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "whatwe-do",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "whatwe-do"
        }
    ]
}
{% endschema %}

