@font-face {
  font-family: "Milk", system-ui;
  src: url(Milk.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 800;
  src: url(Syne-ExtraBold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  src: url(Syne-Bold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 600;
  src: url(Syne-SemiBold.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 500;
  src: url(Syne-Medium.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Syne";
  font-style: normal;
  font-weight: 400;
  src: url(Syne-Regular.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Space";
  font-style: normal;
  font-weight: 700;
  src: url(SpaceGrotesk-Bold.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Space";
  font-style: normal;
  font-weight: 400;
  src: url(SpaceGrotesk-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(Inter-Regular.woff2) format("woff2");
  font-display: swap;
}
:root {
  --dark: #1E1E1E;
  --light: #FFFFFF;
  --lighter-dark: #1e1e1e72;
  --secondary: #f7f7f7;
  --secondary-font-color: #959494;
  --secondary-border-color: #3c3c4381;
  --light-border-color: #91919143;
  --border-color: #3c3c43a5;
  --main-font1: "Syne", "Milk", system-ui;
  --main-font2: "Space", "Milk", system-ui;
  --main-font3: "Inter", system-ui;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font2);
}

ul:not(.product-section__content ul) {
  list-style: none;
}

a {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1240px;
  padding: 0 22px;
  margin: 0 auto;
  width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.link-regular {
  background-color: var(--dark);
  color: var(--light);
  padding: 12px 20px;
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--main-font2);
}
.link-regular svg {
  margin-left: 10px;
}
.link-regular--light {
  background-color: var(--light);
  color: var(--dark);
}
.link-regular--light svg path {
  stroke: var(--dark);
}

[data-color-scheme=light] {
  background-color: var(--light);
  color: var(--dark) !important;
}

[data-color-scheme=dark] {
  background-color: var(--dark);
  color: var(--light) !important;
}

#preview-bar-iframe {
  display: none !important;
}

@media only screen and (max-width: 552px) {
  .link-regular {
    text-align: center;
    width: 100%;
    display: block;
  }
}
