.sport__collection-wrapper{
    margin-top: 8rem;
    width: 100%;
}
.sport__collection-header{
    width: 100%;
    text-align: center;
    .collection-subtitle{
        font-size: 34px;
        font-weight: 400;
        font-family: 'Syne';
    }
    .collection-title{
        margin-top: 1rem;
        font-size: 30px;
        font-weight: 800;
        font-family: 'Syne';
        letter-spacing: 1.7px;
        line-height: 30px;
    }
    .collection-description{
        font-family: 'Syne';
        font-size: 20px;
        margin-top: .5rem;
    }
}

.collection-banner{
    margin: 3rem 0;
    width: 100%;
    overflow: hidden;
    transition: 0.4s;
    position: relative;
    cursor: pointer;
    background-color: rgb(226, 218, 218);
    height: 673px;
    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.collection__action-card{
    max-width: 430px;
    width: 100%;
    background-color:transparent;
    height: 182px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    padding: .5rem .8rem;
    z-index: 1;
    .card-title{
        z-index: 5;
    position: relative;

        font-family: 'Syne';
        font-size: 34px;
        font-weight: 700;
        letter-spacing: -3%;
    }
    .card__info-text{
        z-index: 5;
    position: relative;
        margin: .6rem 0;
        font-size: 18px;
        font-family: 'Syne';
        font-weight: 700;
    }
    .action-link{
        display: inline-block;
        margin-top: .5rem;
        padding: 8px 10px;
        color: #000;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        font-family: "Syne";
        margin-top: 1rem;
        z-index: 5;
        position: relative;
        transition: .2s;
    }
}

.collection__action-card::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: .4s;
    height: 100%;
    background-color: #ffffff;
}
 .collection-banner:hover .collection__action-card{
    .action-link{
        z-index: 10 ;
        color: #fff !important;
        background-color: #000;
    }
     &::after{
         transform: translateY(0);
        }
    }